# shellcheck shell=bash

strict_env

layout_dir="${PWD}/.direnv"
mkdir -p "${layout_dir}/nix-outputs"

shell_output="${layout_dir}/nix-outputs/all.shell"

watch_file default.nix
watch_file index.nix
watch_file scripts/shell/main.nix
watch_file scripts/shell/hook.sh

nix-build --no-out-link --out-link "${shell_output}" -A all.shell . 1>&2

# shellcheck disable=1091
source "${shell_output}/bin/all.shell"
