# shellcheck shell=bash

strict_env

layout_dir="${PWD}/.direnv"
mkdir -p "${layout_dir}/nix-outputs"

shell_output="${layout_dir}/nix-outputs/all.shell"

if ! test -L "${shell_output}"; then
	echo "=== Building devShell (first run, this will take a moment) ==="
	nix-build --no-out-link --out-link "${shell_output}" -A all.shell . 1>&2
fi

PATH_add "${shell_output}/bin"
