.direnv/
node_modules/
result
result-*
apps/book/book/
apps/fake-server-a/dist/
apps/fake-server-b/dist/
terraform/configs/repository/.terraform/
terraform/configs/repository/terraform.tfstate
terraform/configs/repository/terraform.tfstate.backup
terraform/configs/repository/terraform.tfvars
terraform/configs/book/.terraform/
terraform/configs/book/terraform.tfstate
terraform/configs/book/terraform.tfstate.backup
terraform/configs/book/terraform.tfvars
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
